import * as S from './styles'

// type {{pascalCase name}}Props = {}

const {{pascalCase name}} = () => {
  return (
    <S.Wrapper>
      <h1>hello world</h1>
    </S.Wrapper>
  )
}

export default {{pascalCase name}}
