import * as S from './styles'

// type {{pascalCase name}}Props = {}

const {{pascalCase name}} = () => {
  return (
    <div>
      <S.Heading>Hello World!</S.Heading>
    </div>
  )
}

export default {{pascalCase name}}
